@charset "UTF-8";
body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

textarea,
input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent; }

p {
  margin: 0; }

a {
  color: inherit; }

img {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/*Для проекта*/
.header {
  width: 85%;
  max-width: 1632px;
  margin: 0 auto;
  margin-bottom: 7%;
  margin-top: 8%; }

.header__title {
  font-family: 'PT Serif', serif;
  font-size: 36px;
  color: #000;
  font-weight: normal;
  line-height: 42px;
  letter-spacing: normal;
  margin-bottom: 8px; }

.header__subtitle {
  display: block;
  margin-bottom: 26px;
  padding-left: 5px;
  font-size: 24px;
  color: #000;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: normal; }

.header__email {
  display: block;
  font-size: 16px;
  color: #000;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  padding-left: 5px;
  padding-bottom: 10px; }

@media (min-width: 1100px) {
  .header {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 3%;
    margin-top: 4%; } }

.description {
  width: 85%;
  max-width: 1632px;
  margin: 0 auto;
  margin-bottom: 7%; }

.description__block {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-bottom: 25px;
  margin-right: 20px; }
  .description__block:last-child {
    margin-right: 0; }

.description__block-title {
  margin-bottom: 10px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: normal; }

.description__block-list {
  margin: 0;
  padding-left: 25px;
  padding-right: 20px;
  font-size: 14px;
  color: inherit;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  list-style: circle; }

.description__block-item {
  margin-bottom: 3px; }

@media (min-width: 1100px) {
  .description {
    margin-bottom: 4%; }
  .description__block {
    width: 400px;
    margin-bottom: 0;
    margin-right: 50px; } }

.grid__wrapper {
  width: 85%;
  max-width: 1632px;
  margin: 0 auto; }

.grid__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -2%; }

.grid__col {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2%; }

@media (min-width: 1100px) {
  .grid__col--tb-50 {
    width: 50%; } }

@media (min-width: 1350px) {
  .grid__col--ds-25 {
    width: 25%; }
  .grid__col--ds-50 {
    width: 50%; }
  .grid__col--ds-75 {
    width: 75%; }
  .grid__col--ds-100 {
    width: 100%; } }

.work {
  margin-bottom: 20%; }

.work__title {
  margin-bottom: 7px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: normal;
  text-align: center; }

.work__tags {
  margin-bottom: 25px;
  font-size: 10px;
  color: #000;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.5px; }

.work__photo {
  margin-bottom: 6.5%;
  border: 1px solid #d1d1d1; }

.work__photo img {
  display: block;
  margin: 0 auto; }

.work__cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.work__cover-title {
  font-size: 16px;
  color: inherit;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  margin-bottom: 2.5%; }

.work__cover-content {
  margin-bottom: 25px;
  flex-grow: 1; }

.work__features {
  margin: 0;
  padding-left: 25px;
  padding-right: 20px;
  font-size: 13px;
  color: inherit;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  list-style: circle; }

.work__feature {
  margin-bottom: 2px; }

.work__btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
  width: 134px;
  text-align: center; }

.work__btn {
  display: block;
  padding: 0;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-size: 10px;
  color: inherit;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  letter-spacing: 0.5px;
  width: 120px;
  margin: 8px 7px; }
  .work__btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 150%;
    border: 2px solid #000;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(25deg);
            transform: translateY(-50%) translateX(-50%) rotate(25deg);
    transition: all 1s;
    z-index: 1; }
  .work__btn:hover {
    border-color: #000; }
  .work__btn:active {
    color: rgba(0, 0, 0, 0.7); }
  .work__btn:hover::after {
    height: 300%;
    opacity: 1; }
  .work__btn:hover {
    transition: border-color 0.7s; }
  .work__btn--brb::after {
    border-color: #000; }
  .work__btn--device::after {
    border-color: #ffe27f; }
  .work__btn--pilates::after {
    border-color: #c7ade9; }
  .work__btn--pixel::after {
    border-color: #b3cfd0; }
  .work__btn--tests::after {
    border-color: #e4476c; }
  .work__btn--azbyka::after {
    border-color: #6E4B0B; }
  .work__btn--chat::after {
    border-color: #276b82; }
  .work__btn--typing::after {
    border-color: #8b9a62; }
  .work__btn--todo::after {
    border-color: #695EB8; }
  .work__btn--fitness::after {
    border-color: #3f51b5; }
  .work__btn--recipe::after {
    border-color: #e7e7e7; }
  .work__btn--slider::after {
    border-color: #ebdcff; }

@media (min-width: 1100px) {
  .work {
    margin-bottom: 20%; }
  .work__title {
    order: 2;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: normal;
    cursor: default; }
  .work__tags {
    order: 3;
    margin-bottom: 15px; }
  .work__content {
    position: relative;
    margin-bottom: 20px; }
  .work__photo {
    margin: 0; }
  .work__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5% 8%;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in;
    cursor: default; }
    .work__cover--pilates {
      background-color: rgba(199, 173, 233, 0.85);
      color: #40374B; }
    .work__cover--brb {
      background-color: rgba(0, 0, 0, 0.85);
      color: #F2F2F2; }
    .work__cover--device {
      background-color: rgba(255, 226, 127, 0.95);
      color: #665A32; }
    .work__cover--pixel {
      background-color: rgba(179, 207, 208, 0.95);
      color: #475252; }
    .work__cover--tests {
      background-color: rgba(228, 71, 108, 0.95);
      color: #621527; }
    .work__cover--azbyka {
      background-color: rgba(110, 75, 11, 0.95);
      color: #FFF6E5; }
    .work__cover--chat {
      background-color: rgba(39, 107, 130, 0.95);
      color: #dce8ec; }
    .work__cover--typing {
      background-color: rgba(139, 154, 98, 0.95);
      color: #2a2b25; }
    .work__cover--todo {
      background-color: rgba(105, 94, 184, 0.95);
      color: #E6E2FF; }
    .work__cover--fitness {
      background-color: rgba(63, 81, 181, 0.95);
      color: #e8eaf9; }
    .work__cover--recipe {
      background-color: rgba(231, 231, 231, 0.95);
      color: #2f2828; }
    .work__cover--slider {
      background-color: rgba(235, 220, 255, 0.95);
      color: #35303c; }
  .work__content:hover .work__cover {
    opacity: 1; }
  .work__title:hover ~ .work__content .work__cover {
    opacity: 1; }
  .work__cover-content {
    margin-bottom: 4%;
    width: 100%; }
  .work__features {
    height: 108px;
    overflow: hidden; }
  .work__btns {
    align-self: flex-start; }
  .work__btn {
    margin: 0; }
    .work__btn:active {
      color: inherit;
      opacity: 0.7; }
    .work__btn--brb {
      border-color: rgba(242, 242, 242, 0.85); }
      .work__btn--brb:hover {
        border-color: #F2F2F2; }
      .work__btn--brb::after {
        border-color: #F2F2F2; }
    .work__btn--device {
      border-color: rgba(102, 90, 50, 0.7); }
      .work__btn--device:hover {
        border-color: #665A32; }
      .work__btn--device::after {
        border-color: #665A32; }
    .work__btn--pilates {
      border-color: rgba(64, 55, 75, 0.7); }
      .work__btn--pilates:hover {
        border-color: #40374B; }
      .work__btn--pilates::after {
        border-color: #40374B; }
    .work__btn--pixel {
      border-color: rgba(71, 82, 82, 0.7); }
      .work__btn--pixel:hover {
        border-color: #475252; }
      .work__btn--pixel::after {
        border-color: #475252; }
    .work__btn--tests {
      border-color: rgba(98, 21, 39, 0.7); }
      .work__btn--tests:hover {
        border-color: #621527; }
      .work__btn--tests::after {
        border-color: #621527; }
    .work__btn--azbyka {
      border-color: rgba(255, 246, 229, 0.7); }
      .work__btn--azbyka:hover {
        border-color: #FFF6E5; }
      .work__btn--azbyka::after {
        border-color: #FFF6E5; }
    .work__btn--chat {
      border-color: rgba(220, 232, 236, 0.7); }
      .work__btn--chat:hover {
        border-color: #dce8ec; }
      .work__btn--chat::after {
        border-color: #dce8ec; }
    .work__btn--typing {
      border-color: rgba(42, 43, 37, 0.7); }
      .work__btn--typing:hover {
        border-color: #2a2b25; }
      .work__btn--typing::after {
        border-color: #2a2b25; }
    .work__btn--todo {
      border-color: rgba(230, 226, 255, 0.7); }
      .work__btn--todo:hover {
        border-color: #E6E2FF; }
      .work__btn--todo::after {
        border-color: #E6E2FF; }
    .work__btn--fitness {
      border-color: rgba(232, 234, 249, 0.7); }
      .work__btn--fitness:hover {
        border-color: #e8eaf9; }
      .work__btn--fitness::after {
        border-color: #e8eaf9; }
    .work__btn--recipe {
      border-color: rgba(47, 40, 40, 0.7); }
      .work__btn--recipe:hover {
        border-color: #2f2828; }
      .work__btn--recipe::after {
        border-color: #2f2828; }
    .work__btn--slider {
      border-color: rgba(53, 48, 60, 0.7); }
      .work__btn--slider:hover {
        border-color: #35303c; }
      .work__btn--slider::after {
        border-color: #35303c; } }

@media (min-width: 1350px) {
  .work {
    display: flex;
    flex-direction: column; }
  .work__title {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: normal; }
  .work__tags {
    margin-bottom: 0px; }
  .work__cover {
    padding: 8% 8%; }
  .work__cover-title {
    font-size: 18px;
    color: inherit;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    margin-bottom: 3%; }
  .work__features {
    height: 120px;
    font-size: 14px;
    color: inherit;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal; }
  .work__cover-content {
    margin-bottom: 5%;
    width: auto; }
  .work__btns {
    align-self: center;
    width: 140px; }
  .work__btn {
    width: 140px;
    margin-bottom: 15px;
    letter-spacing: 1px; } }
