@charset "UTF-8";
body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

textarea,
input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent; }

p {
  margin: 0; }

a {
  color: inherit; }

img {
  max-width: 100%;
  height: auto; }

address {
  font-style: normal; }

/*Для проекта*/
.header {
  width: 85%;
  max-width: 1632px;
  margin: 0 auto;
  margin-bottom: 7%;
  margin-top: 8%; }

.header__title {
  font-family: 'PT Serif', serif;
  font-size: 30px;
  color: #000;
  font-weight: normal;
  line-height: 33px;
  letter-spacing: normal;
  margin-bottom: 15px; }

.header__subtitle {
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: 16px;
  color: #000;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: normal; }

.header__email {
  display: block;
  font-size: 13px;
  color: #000;
  font-weight: normal;
  line-height: 13px;
  letter-spacing: normal;
  padding-left: 5px;
  padding-bottom: 10px; }

@media (min-width: 1100px) {
  .header {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 3%;
    margin-top: 4%; } }

.description {
  width: 85%;
  max-width: 1632px;
  margin: 0 auto;
  margin-bottom: 7%; }

.description__block {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-bottom: 25px;
  margin-right: 20px; }
  .description__block:last-child {
    margin-right: 0; }

.description__block-title {
  margin-bottom: 10px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: normal; }

.description__block-list {
  margin: 0;
  padding-left: 25px;
  padding-right: 20px;
  font-size: 14px;
  color: inherit;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  list-style: circle; }

.description__block-item {
  margin-bottom: 3px; }

@media (min-width: 1100px) {
  .description {
    margin-bottom: 4%; }
  .description__block {
    width: 400px;
    margin-bottom: 0;
    margin-right: 50px; } }

.grid__wrapper {
  width: 85%;
  max-width: 1632px;
  margin: 0 auto; }

.grid__row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 0 -2%; }

.grid__col {
  box-sizing: border-box;
  width: 100%;
  padding: 0 2%; }

@media (min-width: 1100px) {
  .grid__col--tb-50 {
    width: 50%; } }

@media (min-width: 1350px) {
  .grid__col--ds-25 {
    width: 25%; }
  .grid__col--ds-50 {
    width: 50%; }
  .grid__col--ds-75 {
    width: 75%; }
  .grid__col--ds-100 {
    width: 100%; } }

.work {
  margin-bottom: 10%; }

.work__title {
  margin-bottom: 7px;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  color: #000;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: normal;
  text-align: center; }

.work__tags {
  margin-bottom: 25px;
  font-size: 10px;
  color: #000;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

.work__photo {
  margin-bottom: 6.5%; }

.work__photo img {
  display: block;
  margin: 0 auto; }

.work__cover {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap; }

.work__cover-title {
  font-size: 16px;
  color: inherit;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  margin-bottom: 2.5%; }

.work__cover-content {
  margin-bottom: 25px;
  -webkit-box-flex: 1;
          flex-grow: 1; }

.work__features {
  margin: 0;
  padding-left: 25px;
  padding-right: 20px;
  font-size: 13px;
  color: inherit;
  font-weight: normal;
  line-height: 18px;
  letter-spacing: normal;
  list-style: circle; }

.work__btns {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-box-flex: 2;
          flex-grow: 2;
  width: 134px;
  text-align: center; }

.work__btn {
  display: block;
  padding: 0;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  font-size: 10px;
  color: inherit;
  font-weight: normal;
  line-height: 1;
  letter-spacing: normal;
  width: 120px;
  margin: 8px 7px; }
  .work__btn::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0%;
    width: 150%;
    border: 2px solid #000;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) rotate(25deg);
            transform: translateY(-50%) translateX(-50%) rotate(25deg);
    transition: all 1s;
    z-index: 1; }
  .work__btn:hover {
    border-color: #000; }
  .work__btn:active {
    color: rgba(0, 0, 0, 0.7); }
  .work__btn:hover::after {
    height: 300%;
    opacity: 1; }
  .work__btn--brb::after {
    border-color: rgba(0, 0, 0, 0.7); }
  .work__btn--device::after {
    border-color: #ffd200; }
  .work__btn--pilates::after {
    border-color: #c7ade9; }

@media (min-width: 1100px) {
  .work {
    margin-bottom: 10%; }
  .work__title {
    -webkit-box-ordinal-group: 3;
            order: 2;
    margin-bottom: 10px;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: normal;
    cursor: default; }
  .work__tags {
    -webkit-box-ordinal-group: 4;
            order: 3;
    margin-bottom: 0; }
  .work__content {
    position: relative;
    margin-bottom: 20px; }
  .work__photo {
    margin: 0; }
  .work__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 5% 8%;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in;
    cursor: default; }
    .work__cover--pilates {
      background-color: rgba(199, 173, 233, 0.85);
      color: #000; }
    .work__cover--brb {
      background-color: rgba(0, 0, 0, 0.85);
      color: #fff; }
    .work__cover--device {
      background-color: rgba(255, 226, 127, 0.95);
      color: #000; }
    .work__cover--pixel {
      background-color: rgba(179, 207, 208, 0.95);
      color: #000; }
  .work__content:hover .work__cover {
    opacity: 1; }
  .work__title:hover ~ .work__content .work__cover {
    opacity: 1; }
  .work__cover-content {
    margin-bottom: 4%; }
  .work__features {
    height: 108px;
    overflow: hidden; }
  .work__btns {
    align-self: flex-start; }
  .work__btn {
    margin: 0; }
    .work__btn--brb {
      border-color: rgba(255, 255, 255, 0.85); }
      .work__btn--brb:hover {
        border-color: #fff; }
      .work__btn--brb:active {
        color: rgba(255, 255, 255, 0.7); }
      .work__btn--brb::after {
        border-color: #fff; }
    .work__btn--device::after {
      border-color: #fff; }
    .work__btn--pilates::after {
      border-color: #ecddfc; }
    .work__btn--pixel::after {
      border-color: #fff; } }

@media (min-width: 1350px) {
  .work {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .work__title {
    font-family: 'PT Serif', serif;
    font-size: 20px;
    color: #000;
    font-weight: normal;
    line-height: 25px;
    letter-spacing: normal; }
  .work__cover {
    padding: 8% 8%; }
  .work__cover-title {
    font-size: 18px;
    color: inherit;
    font-weight: normal;
    line-height: 1;
    letter-spacing: normal;
    margin-bottom: 3%; }
  .work__features {
    height: 120px;
    font-size: 14px;
    color: inherit;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: normal; }
  .work__cover-content {
    margin-bottom: 5%; }
  .work__btns {
    align-self: center;
    width: 140px; }
  .work__btn {
    width: 140px;
    margin-bottom: 15px;
    letter-spacing: 1px; } }
