@charset "UTF-8";
body {
  min-width: 320px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  line-height: 22px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

textarea,
input {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background-color: transparent; }

p {
  margin: 0; }

a {
  color: inherit; }

img {
  width: 100%; }

address {
  font-style: normal; }

/*Для проекта*/
.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1008px;
  min-height: 100vh;
  padding: 24px;
  margin: 0 auto; }

.page__content {
  flex-grow: 1; }

.header {
  display: flex;
  height: 122px;
  justify-content: space-between;
  margin-bottom: 20px; }

.header__col {
  overflow: hidden; }

.header__col-1 {
  width: 122px; }

.header__col-2 {
  width: 278px; }

.header__col-3 {
  width: 513px; }

.content {
  position: relative;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 24px; }
  .content:before {
    content: '';
    position: absolute;
    border-top: 2px solid #777;
    width: 100%;
    top: 0; }
  .content:after {
    content: '';
    position: absolute;
    border-top: 2px solid #777;
    width: 100%;
    bottom: 0;
    left: 0; }

.content__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  width: 184px;
  margin-right: 20px; }

.content__center {
  flex-grow: 1; }

.footer {
  display: flex;
  margin-right: -28px; }

.footer__item {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 28px;
  overflow: hidden; }

.footer__item--column {
  display: flex;
  flex-direction: column; }

.block-2 {
  background-color: #777;
  height: 100%; }

.block-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  background-color: #777; }

.block-3__link {
  color: #fff;
  text-decoration: none; }

.block-4 {
  padding: 20px 14px;
  margin-bottom: 24px;
  background-color: #777;
  color: #fff; }

.block-4__title {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px; }

.block-4__nav {
  list-style: none;
  padding: 0;
  margin: 0; }

.block-4__nav li {
  margin-bottom: 4px; }
  .block-4__nav li:last-child {
    margin-bottom: 0; }

.block-4__link {
  text-decoration: none; }

.block-5 {
  padding: 20px;
  margin-bottom: 20px;
  color: #777;
  background-color: #dcdcdc; }

.block-5__text {
  font-weight: bold; }

.block-5__title {
  font-weight: bold; }

.blocks-6 {
  margin-right: -24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.blocks-6 img {
  width: 132px;
  height: 150px;
  margin-right: 24px;
  margin-bottom: 22px; }
  .blocks-6 img:last-child {
    margin-right: auto; }

.blocks-row {
  display: flex;
  margin-right: -18px; }

.blocks-row__item {
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px;
  padding-bottom: 24px;
  margin-right: 18px;
  color: #777;
  background-color: #dcdcdc; }

.block-10 {
  background-color: #777;
  color: #fff; }

.block-10__items {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-column-fill: balance;
          column-fill: balance;
  padding: 14px 24px; }

.block-10__item {
  overflow: hidden; }

.block-11 {
  background-color: #777; }

.block-11__items {
  margin: 0;
  padding: 14px 24px;
  padding-left: 36px;
  list-style-image: none;
  list-style-type: square;
  color: #fff; }

.block-12 {
  flex-grow: 1;
  margin-bottom: 28px;
  background-color: #777;
  cursor: pointer; }

.pop-up__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4); }

.pop-up {
  width: 1000px;
  height: 500px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  z-index: 101;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 60px 0px 40px -60px rgba(0, 0, 0, 0.7), -60px 0px 40px -60px rgba(0, 0, 0, 0.7);
  overflow: hidden; }

.pop-up__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.pop-up__btn {
  padding: 0;
  border: none;
  font: inherit;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #777;
  transition: background-color 0.3s;
  outline: none;
  position: absolute;
  top: 30px;
  right: 30px; }
  .pop-up__btn:hover {
    background-color: #444444; }
  .pop-up__btn::before, .pop-up__btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 21.6px;
    height: 2px;
    margin: auto;
    background-color: #dcdcdc;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .pop-up__btn::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .pop-up__btn::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .pop-up__btn:active::before, .pop-up__btn:active::after {
    opacity: 0.3; }
  .pop-up__btn:hover::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .pop-up__btn:hover::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.pop-up img {
  width: 100%; }
